version: "3.9"

services:
  app:
    build: .
    container_name: bitrix-app
    restart: unless-stopped
    env_file:
      - .env
    depends_on:
      - postgres
    expose:
      - "8000"

  postgres:
    image: postgres:16
    container_name: bitrix-postgres
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

  nginx:
    image: nginx:alpine
    container_name: bitrix-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app

volumes:
  postgres_data:
